<!-- HACEMOS HERENCIA DE PLANTILLA -->
{% extends 'appbase/plantilla.html' %}

{% block tittle %}
    Rutinas
{% endblock %}

{% block content %}

<div class="container divrutina">
        <!-- <div id="divrutina"> -->
        <div>
                <div class="plani_vto">
                    
                        <div>
                            <p>Listado cerca de vencimiento:</p>
                        </div>
                        <ul class="navar">

                            {% for usr in usr_vto %}
             
                                <li >
                                 {{usr}}
                                </li>
             
                            {% endfor %}



                        </ul>
             
                </div>
        </div>
</div>
{% endblock %}