<!-- HACEMOS HERENCIA DE PLANTILLA -->
{% extends 'appbase/plantilla.html' %}

{% block tittle %}
    Rutinas
{% endblock %}

{% block content %}

<div class="container divrutina">
        <!-- <div id="divrutina"> -->
        <div>
                <div>
                    <nav  style="width:100%">
                        <ul class="navar">

                            {% for usr in usr_vto %}
                            <div style="display:flex; align-items:center; background-color:aqua;">
                                <li >
                                 {{usr}}
                                </li>
                            </div>
                            {% endfor %}



                        </ul>
                    </nav>
                </div>
        </div>
</div>
{% endblock %}