{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- linkeamos static -->
    <link href="{% static 'appbase/CSS/style.css' %}" rel="stylesheet">
</head>
<body class="bhome">
    <div class="container">
        <div class="rutinas comun">
                <a href="rutinas.html" target="_self">RUTINAS</a>
        </div>
        <div class="dietas comun">
                <a href="dietas.html" target="_self">DIETAS</a>
        </div>
        <div class="plan comun">
                <a href="plan.html" target="_self">PLAN</a>
        </div>
    </div>

</body>
</html>