{% extends 'appbase/plantilla.html' %}

    
    {% block content %}
    
    <div class="container" >
   
    
        <div class="rutinas comun">
                <a href="{% url 'planificacion' %}" target="_self">RUTINAS</a>
        </div>
        <div class="dietas comun">
                <a href="dietas.html" target="_self">DIETAS</a>
        </div>
        <div class="plan comun">
            <a href="plan.html" target="_self">PLAN</a>
        </div>
        
    </div>

    {% endblock %}
<!-- 
</body>
</html> -->