{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <!-- Bootstrap Local -->
    <link href="{% static 'appbase/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'appbase/CSS/style.css' %}" rel="stylesheet">

    <title>Registro</title>
</head>
<body class="bodyindex">

    <header>
        <div class="div1 cpfsj">
            <div class="acceder">
                
            </div>
        </div>
        <div class="div2">
            <h6 class="{% if request.path == '/acceder' %}activo{% endif %}">
                <a href="{% url 'acceder' %}">Acceder</a>
            </h6>
        </div>
        <div class="div3">
            <h6>
                <a href="{% url 'registro' %}">Registrarse</a>
            </h6>
        </div>
    </header>

    <!-- MOSTRAMOS MENSAJES FLASH -->
    {% if messages %}
    <div>
        
        <div>
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} mb-0 text-center">
                    {{message}}
                </div>
            {% endfor %}
        </div>
        
    </div>
    {% endif %}

    <div class="logcontainer">
        
        {% block content %}

        <form method="post" action="" autocomplete="off">
            {% csrf_token %}
            <div>
                {{form}}
                <button type="submit">Iniciar Sesion</button>
            </div>
            <a href="reset_password/">Olvide mi contraseña</a>
        </form>
        {% endblock %}    
    </div> 
    <footer class="footer">
        <h3>C.P.F San Juan</h3>
        <p><a href="https://www.instagram.com/cpf.sanjuan/">Instagram</a></p>
        <p>Linkedin</p>
    </footer>
</body>
</html>