{% extends 'appbase/plantilla.html' %}

{% block tittle %}
    Plan
{% endblock %}

{% block content%}
<div class="divplan">
    
        <div class="infobasica">
            <ul>
                <li>Plan</li>
                <li>{{plan}}</li>
            </ul>
        </div>

        <div class="infoplan">
            <div>
                <ul>
                    <li>Fecha de pago</li>
                    <li>{{pago}}</li>
                </ul>
            </div>

            <div>
                <ul>
                    <li>Fecha de vencimiento</li>
                    <li>{{fecha_venc}}</li>
                </ul>
            </div>

            <div>
                <ul>
                    <li>Vencido</li>
                    
                    {% if vencido == 'Si' %}
                    <li" class ="if_li" style="background-color: rgb(236, 128, 125); width: 40%; border-radius: 15px; text-align: center; border: 1px solid rgba(255, 255, 255, 0.4); color: black;">
                                {{vencido}}
                        </li>
                    {% else %}
                        <li" class ="if_li" style="background-color: rgb(122, 227, 122); width: 40%; border-radius: 15px; text-align: center; border: 1px solid rgba(255, 255, 255, 0.4); color: black;">
                            {{vencido}}
                        </li>
                    {% endif %}
                    
                </ul>
            </div>

            <div>
                <ul>
                    <li>Clases disponibles</li>
                    <li>{{restantes}}</li>
                </ul>
            </div>
        </div>
    
</div>
{% endblock %}