{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Local -->
    <link href="{% static 'appbase/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'appbase/CSS/style.css' %}" rel="stylesheet">

    <title>Registro</title>
</head>
<body>

    <header>
        <div class="div1">
        </div>
        <div class="div2">
            <h6>
                <a href="{% url 'acceder' %}">Acceder</a>
            </h6>
        </div>
        <div class="div3">
            <h6 class="{% if request.path == '/registro.html' %}activo{% endif %}">
                <a href="{% url 'registro' %}">Registrarse</a>
            </h6>
        </div>
    </header>


    <!-- <nav class="navregistro">
        <ul>
            <li></li>
            <li><a href="{% url 'acceder' %}">Acceder</a></li>
            <li><a href="{% url 'registro' %}">Registrarse</a></li>
        </ul>
    </nav> -->

        <!-- MOSTRAMOS MENSAJES FLASH -->
        {% if messages %}
        <div class="mensajes">
            
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            </div>
            
        </div>
        {% endif %}

    <div class="regcontainer">
        {% block content %}

        <form method="post" action="" autocomplete="off">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Crear cuenta</button>
        </form>
        {% endblock %}    
    </div>
    <footer class="footer">
        <h3>End of The World</h3>
        <p>Instagram</p>
        <p>Linkedin</p>
        <p>CV Online</p>
    </footer>
    </body>
</html>