{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- # Bootstrap local -->
    <link href="{% static 'appbase/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'appbase/CSS/style.css' %}" rel="stylesheet">
    <title>Reinicio - Solicitud enviada</title>
</head>
<body>
    <div class="contenedorauth">
        <div class="sombra">
            <div class="respuesta">
                <p>Restablecimiento de contraseña enviado</p>
                <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</p>

                <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
                <p>
                    <a href="{% url 'acceder' %}">Volver</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>